###################
# ALIAS FUNCTIONS #
###################

# needed to use aliases in watch commands
alias watch='watch '

########################
# CLIPBOARD Linux only #
########################
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'

########
# Arch #
########
alias pacmanclean='pacman -Rsn $(pacman -Qdtq)'

##############
# KUBERNETES #
##############

alias k="kubectl"
alias kns="kubectl ns"
alias kx="switch"

alias kg='kubectl get'
alias kd='kubectl describe'

alias ks="kubectl -n kube-system"
alias ksg='ks get'
alias ksd="ks describe"

alias kg='kubectl -n garden'
alias kl='kubectl -n ls-system'
alias kd='kubectl -n default'
alias kgg='kg get'
alias kgd='kg describe'

alias kall='kubectl api-resources --verbs=list -o name | xargs -n 1 kubectl get --show-kind --ignore-not-found -o name'
alias kalln='kubectl api-resources --verbs=list --namespaced -o name | xargs -n 1 kubectl get --show-kind --ignore-not-found -o name'

alias kwkind='export KUBECONFIG="$(kind get kubeconfig-path --name="kind")"'

alias ktmp='pbpaste > /tmp/.kubeconfig && kwc /tmp/.kubeconfig'

function kwsec() {
  kubectl ksd get secret $1 -ojson | jq -r '.stringData.kubeconfig' | pbcopy
}

# ops
alias kops="/usr/local/bin/ops-pod"

# Commponent-cli
alias ccli="component-cli"
