[global_config]
[keybindings]
  go_up = <Shift><Alt>Up
  go_down = <Shift><Alt>Down
  go_left = <Shift><Alt>Left
  go_right = <Shift><Alt>Right
  split_horiz = <Primary><Shift>d
  split_vert = <Primary>d
  toggle_zoom = <Primary>Return
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
