[global_config]
[keybindings]
  new_tab = <Primary>t
  split_horiz = <Primary><Shift>d
  split_vert = <Primary>d
  toggle_zoom = <Primary>Return
  next_tab = <Primary>Right
  prev_tab = <Primary>Left
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
    font = Roboto Mono for Powerline Bold 10
    scrollback_lines = 10000
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
